@import "vars";
@import "fonts";
@import "libs";
@import "reset";
@import "global";

.header {
  padding: 50px 0;

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-link__logo {
    display: flex;
  }

  &__logo {
    padding-right: 13px;
  }

  &__logo-text {
    font-size: 36px;
    line-height: 58px;
    color: $accent;
    @extend %rubik-500;
  }
}

.menu {
  &__list {
    display: flex;
  }

  &-list__item + .menu-list__item {
    margin-left: 40px;
  }

  &-list__link,
  &-item__plus {
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: $accent;
  }
}

.user-nav {
  display: flex;

  &__link {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #edf1f4;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__menu {
    background-color: $prise;
  }

  &__link--img {
    line-height: 100%;
  }

  &__collection {
    background-color: #fcd7b6;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0 20px;
    border-radius: 25px;
    width: 178px;
    height: 50px;
  }

  &__link-btn {
    position: relative;
  }

  &__num {
    position: absolute;
    width: 16px;
    height: 16px;
    background-color: #FFFFFF;
    border-radius: 50%;
    top: -1px;
    right: -10px;
    font-size: 10px;
    line-height: 18px;
    text-align: center;
    @extend %dmsans-400;
    transform: translate(0, -50%)
  }

  &__border {
    font-size: 35px;
    color: #fde7d3;
  }
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  padding: 75px 0 70px;

  &__contact {
    width: 200px;
  }

  &__nav {
    min-width: 100px;
    padding-top: 30px;
  }

  &__item-form {
    max-width: 270px;
    padding-top: 30px;
  }

  &__logo {
    padding-bottom: 22px;
  }

  &__text-nav {
    font-size: 14px;
    line-height: 24px;
    @extend %rubik-400;
    color: #7d7d7d;
    padding-bottom: 13px;
  }

  &__title {
    font-size: 16px;
    line-height: 21px;
    @extend %dmsans-700;
    color: #1f2044;
    margin-bottom: 20px;
    text-transform: uppercase;
  }

  &__text {
    padding-bottom: 32px;
    font-size: 14px;
    line-height: 24px;
    color: #7d7d7d;
  }

  &__form {
    display: flex;
  }

  &__form-input {
    background-color: #fef7f0;
    max-width: 170px;
    width: 100%;
    border: none;
    padding: 5px 70px 5px 15px;

    &::placeholder {
      color: #234969;
      font-size: 12px;
      @extend %dmsans-400
    }
  }

  &__form-btn {
    border: none;
    padding: 12px 15px;
    cursor: pointer;
    background-color: $prise;
    color: #FFFFFF;
  }
}

.footer-bottom {
  font-size: 14px;
  line-height: 32px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__items {
    display: flex;
    justify-content: space-between;
  }

  &__span {
    padding: 0 14px;
  }
}

.top-slider {
  background-image: url("../images/slider/img-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 45px;

  &__container {
    max-width: 1200px;
  }

  &__content {
    margin-bottom: 200px;
  }

  &__img {
    margin-top: 60px;
  }

  &__item {
    display: flex !important;
    justify-content: space-between;
  }

  &__title {
    max-width: 420px;
    font-size: 72px;
    line-height: 70px;
    @extend %rubik-500;
    color: $title;
    padding-bottom: 35px;
  }

  &__text {
    max-width: 370px;
    margin-bottom: 38px;
  }

  &__link {
    padding: 22px 14px 22px 30px;
    background-color: #a3bbc8;
    font-size: 15px;
    line-height: 12px;
    @extend %rubik-500;
    color: #FFFFFF;
  }

  &__link::after {
    content: url("../images/slider/arrow.svg");
    padding-left: 55px;
  }

  .slick-dots {
    display: flex;
    justify-content: center;
    li {
      @extend %rubik-500;
      font-size: 10px;
      line-height: 8px;
    }
    li + li  {
      margin-left: 10px;
    }
    button {
      width: 30px;
      height: 30px;
      padding: 0;
      border-radius: 50%;
      opacity: 0.302;
      border: none;
    }
    .slick-active {
      button {
        background-color: #FFFFFF;
        opacity: 1;
      }
    }
  }
}


@import "media";