.footer-top__form-input::placeholder, .user-nav__num {
  font-family: "DMSans-Regular", sans-serif;
  font-weight: 400;
}

.footer-top__title {
  font-family: "DMSans-Bold", sans-serif;
  font-weight: 700;
}

.footer-top__text-nav, a, body {
  font-family: "Rubik-Regular", sans-serif;
  font-weight: 400;
}

.top-slider .slick-dots li, .top-slider__link, .top-slider__title, .menu-list__link, .menu-item__plus, .header__logo-text {
  font-family: "Rubik-Medium", sans-serif;
  font-weight: 500;
}

@font-face {
  font-family: "DMSans-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("DMSans-Regular"), url("../fons/DMSans-Regular.woff2") format("woff2"), url("../fons/DMSans-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("DMSans-Medium"), url("../fons/DMSans-Medium.woff2") format("woff2"), url("../fons/DMSans-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "DMSans-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("DMSans-Bold"), url("../fons/DMSans-Bold.woff2") format("woff2"), url("../fons/DMSans-Bold.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Rubik-Medium"), url("../fons/Rubik-Medium.woff2") format("woff2"), url("../fons/Rubik-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Rubik-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Rubik-Regular"), url("../fons/Rubik-Regular.woff2") format("woff2"), url("../fons/Rubik-Regular.woff") format("woff");
  font-display: swap;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-size: 18px;
  line-height: 30px;
  color: #585858;
  display: flex;
  flex-direction: column;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1817px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 14px;
  line-height: 24px;
  color: #7d7d7d;
}

.header {
  padding: 50px 0;
}
.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-link__logo {
  display: flex;
}
.header__logo {
  padding-right: 13px;
}
.header__logo-text {
  font-size: 36px;
  line-height: 58px;
  color: #436372;
}

.menu__list {
  display: flex;
}
.menu-list__item + .menu-list__item {
  margin-left: 40px;
}
.menu-list__link, .menu-item__plus {
  font-size: 15px;
  line-height: 12px;
  color: #436372;
}

.user-nav {
  display: flex;
}
.user-nav__link {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #edf1f4;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-nav__menu {
  background-color: #a3bbc8;
}
.user-nav__link--img {
  line-height: 100%;
}
.user-nav__collection {
  background-color: #fcd7b6;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 0 20px;
  border-radius: 25px;
  width: 178px;
  height: 50px;
}
.user-nav__link-btn {
  position: relative;
}
.user-nav__num {
  position: absolute;
  width: 16px;
  height: 16px;
  background-color: #FFFFFF;
  border-radius: 50%;
  top: -1px;
  right: -10px;
  font-size: 10px;
  line-height: 18px;
  text-align: center;
  transform: translate(0, -50%);
}
.user-nav__border {
  font-size: 35px;
  color: #fde7d3;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #dae4e9;
  padding: 75px 0 70px;
}
.footer-top__contact {
  width: 200px;
}
.footer-top__nav {
  min-width: 100px;
  padding-top: 30px;
}
.footer-top__item-form {
  max-width: 270px;
  padding-top: 30px;
}
.footer-top__logo {
  padding-bottom: 22px;
}
.footer-top__text-nav {
  font-size: 14px;
  line-height: 24px;
  color: #7d7d7d;
  padding-bottom: 13px;
}
.footer-top__title {
  font-size: 16px;
  line-height: 21px;
  color: #1f2044;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.footer-top__text {
  padding-bottom: 32px;
  font-size: 14px;
  line-height: 24px;
  color: #7d7d7d;
}
.footer-top__form {
  display: flex;
}
.footer-top__form-input {
  background-color: #fef7f0;
  max-width: 170px;
  width: 100%;
  border: none;
  padding: 5px 70px 5px 15px;
}
.footer-top__form-input::placeholder {
  color: #234969;
  font-size: 12px;
}
.footer-top__form-btn {
  border: none;
  padding: 12px 15px;
  cursor: pointer;
  background-color: #a3bbc8;
  color: #FFFFFF;
}

.footer-bottom {
  font-size: 14px;
  line-height: 32px;
  height: 86px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-bottom__items {
  display: flex;
  justify-content: space-between;
}
.footer-bottom__span {
  padding: 0 14px;
}

.top-slider {
  background-image: url("../images/slider/img-slider.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 220px 0 45px;
}
.top-slider__container {
  max-width: 1200px;
}
.top-slider__content {
  margin-bottom: 200px;
}
.top-slider__img {
  margin-top: 60px;
}
.top-slider__item {
  display: flex !important;
  justify-content: space-between;
}
.top-slider__title {
  max-width: 420px;
  font-size: 72px;
  line-height: 70px;
  color: #243f4d;
  padding-bottom: 35px;
}
.top-slider__text {
  max-width: 370px;
  margin-bottom: 38px;
}
.top-slider__link {
  padding: 22px 14px 22px 30px;
  background-color: #a3bbc8;
  font-size: 15px;
  line-height: 12px;
  color: #FFFFFF;
}
.top-slider__link::after {
  content: url("../images/slider/arrow.svg");
  padding-left: 55px;
}
.top-slider .slick-dots {
  display: flex;
  justify-content: center;
}
.top-slider .slick-dots li {
  font-size: 10px;
  line-height: 8px;
}
.top-slider .slick-dots li + li {
  margin-left: 10px;
}
.top-slider .slick-dots button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-radius: 50%;
  opacity: 0.302;
  border: none;
}
.top-slider .slick-dots .slick-active button {
  background-color: #FFFFFF;
  opacity: 1;
}

/*# sourceMappingURL=style.css.map */
